<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PubsDatabase.Properties.Settings.pubsConnectionString"
            connectionString="Data Source=pubs.cg4pyjwjv4wq.us-east-1.rds.amazonaws.com;Initial Catalog=pubs;Persist Security Info=True;User ID=pubsuser;Password=E5YWoYmQZ37THsy9"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>